body{
    margin: 0px;
}

.container{
    display: flex;
    width: 287px;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.submit{
    display: block;
    max-width: 100%;
    width: 160px;
    height: 35px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #cc3e30;
    border: 0;
    border-radius: 15px;
    color: white;
}

.submit:active{
    transition: 0.3s;
    transform: scale(1.2);;
}

.pr{
    font-size: 17px;
    width: 100%;
    margin-top: 20px;
    border-style: hidden;
    border-bottom: 1px #8a8a8a solid;
}