<div class="logo">
  <span class="logo"></span>
  <img class="logo" src="../../assets/img/logo.png">
  <span class="logo"></span>
</div>

<div class="container">
  <div class="title">Cadastro</div>
  <form>
    <input class="pr" type="text" placeholder="Nome" name="nome" value="">
    <input class="pr" type="text" placeholder="E-mail" name="email" value="">
    <input class="pr" type="text" placeholder="Login" name="login" value="">
    <input class="pr" type="text" placeholder="Senha" name="senha" value="">
    <div class="gp">
      <span class="grupo"></span>
      <span class="title-group">GRUPO</span>
      <span class="grupo"></span>
    </div>
    <input class="pr" type="text" placeholder="Nome do Grupo" name="nomegrupo" value="">
    <input class="submit" type="submit" name="prox" value="Avançar">
  </form>
</div>