<div class="container">
  <div>Cadastro</div>
  <form>
    <input class="pr" type="text" placeholder="Nome" name="nome" value="">
    <input class="pr" type="text" placeholder="E-mail" name="email" value="">
    <input class="pr" type="text" placeholder="Login" name="login" value="">
    <input class="pr" type="text" placeholder="Senha" name="senha" value="">
    <input class="pr" type="text" placeholder="Nome do Grupo" name="nomegrupo" value="">
    <input class="pr" type="text" placeholder="ñsei" name="ñsei" value="">
    <input class="submit" type="submit" name="prox" value="Avançar">
  </form>
</div>