<div class="perfil_tela">
  <div class="perfil_topo">
    <h1 class="title">Perfil</h1>
    <img class="backicon pointer" (click)="returnToPainel()" src=" ../../assets/img/backicon.png">    
  </div>
  <div class="viewprofile">
    <div class="profileimg"></div>
    <div class="profileinfo">
      <p class="info"> Grupo: <span class="gotInfo">{{user.idGrupo}}</span> </p>
      <p class="info"> Nome: <span class="gotInfo">{{user.nome}}</span> </p>
      <p class="info"> E-mail: <span class="gotInfo">{{user.email}}</span> </p>
    </div>
  </div>
  <div class="final"></div>
</div>