<div class="tela">
  <img class="shia" src=" ../../assets/img/shia.png" alt="PNG JustDoIt!">
  <div class="container">
    <div class="erro-feedback" *ngIf="erro">Login ou senha incorretos</div>
    <form  autocomplete="off" accept-charset="UTF-8" (submit)="conectar($event)">
      <input class="dados" placeholder="Login" type="text" name="user" value="" [(ngModel)]="user.login">
      <br>
      <input class="dados" placeholder="Senha" type="password" name="password" value="" [(ngModel)]="user.senha">
      <br>
      <input class="conect" type="submit" value="CONECTAR">
    </form>
  </div>
</div>