<div class="grad"></div>
<div class="tela">
  <div class="container">
    <div class="erro-feedback" *ngIf="erro">Login ou senha incorretos</div>
    <form  autocomplete="off" accept-charset="UTF-8" (submit)="conectar($event)">
      <input class="dados" placeholder="Login" type="text" name="user" value="" [(ngModel)]="user.login">
      <input class="dados" placeholder="Senha" type="password" name="password" value="" [(ngModel)]="user.senha">
      <input class="conect" type="submit" value="CONECTAR">
    </form>
    <span class="signin" (click)="cadastrar()">Criar conta</span>
  </div>
</div>