<div class="painel-pg">
  <!-- INICIO HEADER -->
  <div class="header">
    <div class="hamburguer pointer" (click)="sidebar()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <!-- FIM HEADER -->

  <!-- INICIO PAINEL -->
  <div class="painel">
    <div class="block-task pointer" *ngFor="let t of tarefaLst.slice().reverse()" (click)="editarTarefa(t)">
      <div class="imagem">
        <img class="imagem-tarefa" [src]="cat[t.categoria]" alt="imagem-tarefa">
      </div>
      <div class="task-info">
        <div class="task-name">{{t.nome}}</div>
        <div class="task-time"> Até {{t.prazo}} às {{t.horario}}</div>
      </div>
    </div>
  </div>
  <!-- FIM PAINEL -->

  <!-- POPUP NOVA TAREFA -->
  <div class="fade-task" *ngIf="newTask" (click)="closeAdd()"></div>
  <div class="popUp" *ngIf="newTask">
    <div class="header-edit-task header-add">
      Nova Tarefa
      <span class="close-icon pointer" (click)="closeAdd()">X</span>
    </div>
    <div class="input-task">
      <label for="tarefa">Tarefa: </label>
      <input class="pop-input" type="text" name="tarefa" [(ngModel)]="tarefa.nome">
    </div>
    <div class="input-task">
      <label for="tempo">Até: </label>
      <input class="pop-input" type="text" name="tempo" [(ngModel)]="tarefa.prazo" [textMask]="{mask: dateMask}">
    </div>
    <div class="input-task">
      <label for="tempo">Horário: </label>
      <input class="pop-input" type="text" name="tempo" [(ngModel)]="tarefa.horario" [textMask]="{mask: mask}">
    </div>
    <div class="input-task" style="display: grid;">
      <label for="categoria">Categoria: </label>
      <select class="select-opt" name="categoria" id="cat" [(ngModel)]="tarefa.categoria">
        <option value="0">Administração</option>
        <option value="1">Limpeza</option>
        <option value="2">Alimentação</option>
        <option value="3">Outros</option>
      </select>
    </div>
    <div>
      <button class="btn-add-task" (click)="addTask()">Adicionar</button>
    </div>
  </div>
  <!-- FIM POPUP NOVA TAREFA -->

  <!-- POPUP EDITAR TAREFA -->
  <div class="fade-task" *ngIf="editTask" (click)="cancelEdit()"></div>
  <div *ngIf="editTask">
    <div class="edit-panel">
      <div class="header-edit-task">
        Editar tarefa
        <span class="close-icon pointer" (click)="cancelEdit()">X</span>
      </div>
      <div class="edit-field-container">
        <label for="tarefa">Tarefa: </label>
        <input class="input-edit" type="text" name="tarefa" [(ngModel)]="editTarefa.nome">
      </div>
      <div class="edit-field-container">
        <label for="tempo">Até: </label>
        <input class="input-edit" type="text" name="tempo" [(ngModel)]="editTarefa.prazo" [textMask]="{mask: dateMask}">
      </div>
      <div class="edit-field-container">
        <label for="tempo">Horário: </label>
        <input class="input-edit" type="text" name="tempo" [(ngModel)]="editTarefa.horario" [textMask]="{mask: mask}">
      </div>
      <div class="edit-buttons">
        <button class="btn btn-success btn-size" type="button" (click)="saveEdit()">Salvar</button>
        <button class="btn btn-danger btn-size" type="button" (click)="cancelEdit()">Cancelar</button>
      </div>
      <div class="remove-task pointer" (click)="removeTask()">
        remover tarefa
      </div>
    </div>
  </div>
  <!-- FIM POP EDITAR TAREFA -->

  <!-- ICONE NOVA TAREFA -->
  <div class="add-task pointer" (click)="novatarefa()">
    <span class="glyphicon glyphicon-plus"></span>
  </div>
  <!-- FIM ICONE NOVA TAREFA -->

  <!-- MENU LATERAL -->
  <div class="sidebar" [ngClass]="{'open': sidebarOpen}">
    <ul>
      <li class="pointer" style="background-color: rgb(42, 62, 83); height: 100px;" (click)="navigate('perfil')">
        <img class="img-perfil" [src]="imgUser" alt="imagem de perfil">
        <span>{{usuarioLogado.nome}}</span>

      </li>
      <li class="pointer" (click)="navigate('contas')">
        <span class="size-menu ion-social-usd-outline"></span> Contas
      </li>
      <li class="pointer" (click)="navigate('lista')">
        <span class="size-menu ion-clipboard"></span> Lista de compras
      </li>
      <li class="pointer" (click)="navigate('ranking')">
        <span class="size-menu ion-ios-game-controller-b-outline"></span> Ranking
      </li>
      <li class="pointer" (click)="navigate('republica')">
        <span class="size-menu ion-ios-home-outline"></span> Republica
      </li>
      <li class="pointer logout" (click)="logOut()">
        <span class="size-menu ion-log-out"></span> Sair
      </li>
      <!-- style="border-bottom: 2px solid rgb(42, 62, 83);"  -->
    </ul>
  </div>
  <!-- FIM MENU LATEREAL -->
</div>