<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/login/listagem.css">
    <title>JDI!</title>
</head>
<body>
    <div class="container">Tela de listagem</div>
</body>

</html>