<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/views/listagem/listagem.css">
    <title>JDI!</title>
</head>
<body>
    <div class="header">
        <div id="hamburguer" class="pointer">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="list">
        <div class="task">
            <div class="image">
                <img class="task-img" src="/assets/img/exemplo.png" alt="imagem da tarefa">
            </div>
            <div class="task-info">
                <div>Lavar a louça</div>
            </div>
        </div>
    </div>
</body>

</html>