body{
    background-color: #3498DB;
}

.header{
    background-color: #2980B9;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
}

.list{
    margin-top: 60px;
}

.task{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-img{
    width: 130px;
    height: 130px;
}
/*hamburguer*/

#hamburguer span{
    display: block;
    position: absolute;
    height: 3px;
    width: 30px;
    margin-left: 15px;
    margin-top: 15px;
    background: #fff;
}

#hamburguer span:nth-child(1) {
  top: 0px;
}

#hamburguer span:nth-child(2) {
  top: 8px;
}

#hamburguer span:nth-child(3) {
  top: 16px;
}

/*Úteis*/

.pointer{
    cursor:pointer;
}