<div class="rank_tela">
  <div class="rank_topo">
    <h1 class="title">Ranking</h1>
    <img class="backicon pointer" (click)="returnToPainel()" src=" ../../assets/img/backicon.png">    
  </div>
  <div class="painel">
    <div class="block-user" *ngFor="let r of rankLst | sort:'rp'">
      <div class="imagem">
        <img class="imagem-user" [src]="userimg(r.usuario)" alt="imagem-perfil">
      </div>
      <div class="user-info">
        <div class="user-nome">{{r.usuario.nome}}</div>
        <div class="rp">RP:{{r.rp}}</div>
      </div>
    </div>
  </div>
</div>