.rank_tela{
    position: relative;
    background-color: #e74c3c;
    width: 100vw;
    height: 100vh;
}

.rank_topo{
    background-color: #c0392b;
    width: 100%;
    height: 50px;
    top: 0;
    text-align: center;
    box-shadow: black 0px 1px 3px;
}

.title{
    position: relative; 
    color: white;
    font-size: 28px;
    margin: 0px;
    padding-top: 10px;
}

.backicon{
    position: absolute;
    width: 46px;
    height: 46px;
    left: 5px;
    top: 2px;
    border: 1px solid #fff9;
    border-radius: 30px;
    box-shadow: #3d3d4e 1px 0px 5px;
}

.backicon:hover{
    opacity: 0.85;
}

/*CENTRO*/

.painel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.imagem {
    width: 128px;
    height: 128px;
}

.block-user{
    margin-bottom: 20px;
}

.imagem-user {
    width: 128px;
    height: 128px;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

/*FIM*/
.final{
    background-color: #b73022;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;  
    box-shadow: black 0px 1px 3px; 
}