<div class="rank_tela">
  <div class="rank_topo">
    <h1 class="title">Ranking</h1>
    <img class="backicon pointer" (click)="returnToPainel()" src=" ../../assets/img/backicon.png">    
  </div>
  <div class="painel">
    <div class="block-user" *ngFor="let r of rankLst">
      <div class="imagem">
        <img class="imagem-user" src="../../assets/img/seo.png" alt="imagem-perfil">
      </div>
      <div class="user-info">
        <div class="user-nome">{{r.usuario}}</div>
        <div class="rp">RP:{{rp(r.tarefas)}}</div>
      </div>
    </div>
  </div>
</div>