.rank_tela{
    position: relative;
    background-color: #e74c3c;
    width: 100%;
    height: 100vh;
}

.rank_topo{
    background-color: #c0392b;
    width: 100%;
    height: 50px;
    top: 0;
    text-align: center;
    box-shadow: black 0px 1px 3px;
}

.title{
    position: relative; 
    color: white;
    font-size: 28px;
    margin: 0px;
    padding-top: 10px;
}

.backicon{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 5px;
    top: 5px;
    border: 1px solid #fff9;
    border-radius: 30px;
    box-shadow: #3d3d4e 1px 0px 5px;
}

.backicon:hover{
    opacity: 0.85;
}

/*CENTRO*/

.painel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    overflow: scroll;
    height: 85vh;
    overflow-x: hidden;
}

.painel::-webkit-scrollbar{
    background-color: transparent;
}

::-webkit-scrollbar-track-piece  {
background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
background-color: transparent;
}

.imagem {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: #b3b3b3;
}

.block-user{
    margin-bottom: 20px;
}

.imagem-user {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.add-task {
    text-align: center;
    width: 160px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 20px;
    background-color: #c0392b;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
}

.btn-add-task{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    color: #31334a;
}

.btn-add-task:focus {
    outline: none;
}

.fade-task {
    position: fixed;
    z-index: 8;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
}

.input-task {
    margin-bottom: 10px;
}

.header-edit-task {
    text-align: center;
    width: 100%;
    color: #000000;
    border-bottom: 1px solid #000000;
    margin-bottom: 10px;
}

.header-add {
    color: #fff !important;
    border-bottom: 1px solid #fff !important;
}

.popUp {
    display: flex;
    flex-direction: column;
    z-index: 9;
    width: 240px;
    /* height: 255px; */
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    background: rgb(96, 28, 21);
    border-radius: 10px;
    padding: 15px;
    color: #fff;
}

.pop-input {
    width: 100%;
    border: none;
    color: #000000;
    padding-left: 5px;
}

.pop-input:focus {
    outline: none;
}

.close-icon{
    float: right;
    line-height: 5px;
}

.select-opt {
    color: #000;
}